*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.contenitore{
    width: 950px;
    height: 800px;
    background-color: #00000075;
    margin: auto;
    margin-top: 1.5%;
    border-radius: 2%;
}

/*Inizio Header*/

#logo{
    width: 220px;
    height: 100px;
}

header{
    text-align: center;
}

header > h1{
    color: rgb(12, 207, 12);
}

/*Fine Header*/
/*Inizio Nav*/

nav{
    width: 85%;
    background-color: rgb(12, 207, 12);
    margin: auto;
    text-align: center;
    padding: 8px;
}

nav > button{
    font-size: x-small;
}

/*Fine Nav*/
/*Inizio Main*/

section > h1{
    display: inline-block;
}

main{
    margin-left: 7.7%;
    margin-top: 10px;
    color: white;
}

.batteria{
    height: 23px;
    border-radius: 5px;
}

.uno{
    width: 33%;
    background-color: rgb(253, 202, 107);
}

.due{
    width: 53%;
    background-color: rgb(10, 161, 10);
}

.tre{
    width: 14%;
    background-color: rgb(184, 58, 58);
}

.check{
    width: 10px;
}

section{
    margin-top: 17px;
}

p > span{
    font-size: 9px;
}

/*Fine Main*/